camstatus
checkshutter
irc_daemon
irc_module
log/
scripts/__pycache__/
__pycache__/
shutter
sunpos
latest/__pycache__/
latest/old/
latest/update/
latest/image.png
latest/imagetime.txt
latest/latest_cam1
latest/latest_cam2
latest/latest_cam3
latest/latest_cam4
latest/Moll.png
latest/Orth.png
latest/Polar.png
latest/sbcstat.txt
latest/time_image.txt
latest/time_orth.txt
