[Unit]
Description=IR camera service

[Service]
ExecStart=/home/gb/bin/irc_daemon
WorkingDirectory=/home/gb/irc_ctrl

[Install]
WantedBy=multi-user.target

